.nav-item a:hover {
    color: black;
    font-weight: 600;
    border-bottom: black 1px solid;
}

.banner-img {
    position: relative;
    filter: brightness(35%);
}

.banner-content {
    position: relative;
    bottom: 200px;

    color: white;
}

.footer-img {
    position: relative;
    filter: brightness(35%);

}



.footer-content {
    position: relative;
    bottom: 200px;
    left: 20px;
    color: white;
}